<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


</style>
</head>
<body>
<!-- 

<div class="keys">
  <div ><i class="fa fa-arrow-up"></i></div>
  <br />
  <div ><i class="fa fa-arrow-left"></i></div>  
  <div ><i class="fa fa-arrow-down"></i></div>
  <div ><i class="fa fa-arrow-right"></i></div>
</div>
 -->{% block content %}

    <h1>GUI</h1>
    <form action="" method="POST" class="keys"> 
    {% csrf_token %}
        {{ form.as_p }}
    <input class="up arr" type="submit" name="action" value="Up" ><i class="fa fa-arrow-up"></i></input>
    <input class="left arr" type="submit" name="action" value="Left" ><i class="fa fa-arrow-left"></i></input>
    <input class="down arr" type="submit" name="action" value="Down" ><i class="fa fa-arrow-down"></i></input>
    <input class="right arr" type="submit" name="action" value="Right" ><i class="fa fa-arrow-right"></i></input>
    </form>
    {{output}}

  <div class="row server-stream">
      <!-- <span style="border: 1px solid black; "> -->
        <div id="video_pane" style="margin: auto; border: 1px solid black; display: table;">
          
        <object type="application/x-shockwave-flash" id="flash_video_obj" name="flash_video_obj" class="video-display" data="http://192.168.0.109:8080/mjp.swf" width="1024" height="768"><param name="quality" value="high"><param name="bgcolor" value="#cccccc"><param name="allowscriptaccess" value="always"><param name="allowfullscreen" value="true"><param name="flashvars" value="cvideo=/video&amp;video=http://192.168.0.109:8080/video4flash&amp;audio=http://192.168.0.109:8080/audio.wav&amp;twa=http://192.168.0.109:8080//audioin.alaw&amp;mode=Vat&amp;wwidth=1024&amp;wheight=768&amp;debug=true"></object></div>
  </div>  
{% endblock %}
</body>
</html>